/*!
 * Start Bootstrap - Full Width Pics HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.bio{
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    color: #000;
}
.headingBio{
    font-family: 'Abel', sans-serif;
    font-size: 4em;
    color: #000;
}
.image-bg-fluid-height,
.image-bg-fixed-height {        
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('../img/AboutMe.jpg') no-repeat 60% 85%;
    height: 400px ;
    text-align: left;
    text-transform: capitalize;
    text-indent: 20%; 
    font-size: 6em;
    font-family: 'Abel',sans-serif;
    color: #010006;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 600px;
}

.img-center {
	margin: 0 auto;
}

.section {
    padding: 75px 0;
}
.section-header{
    margin-left: 20px;
    font-size: 4em;
}
.section-heading {
    margin: 30px 0;
    font-size: 6em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}
/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.Color{background-color: #7A9FFC;}
ul.social{
    display:block;  
    margin: 1%;
    list-style-type: none;
    text-align: right;
}
ul.social li{
    font-size: 2em;
    display: inline;
    padding: 2%;
}
ul.social li a{
    color:#fff;
}
ul.social li.facebook a:hover{color:rgb(59,89,152);}
ul.social li.twitter a:hover{color:rgb(0,172,237);}
ul.social li.instagram a:hover{color:#3f729b}
ul.social li.youtube a:hover{color:rgb(187,0,0);}
ul.social li.linkedin a:hover{color:rgb(0,123,182);}

p.copyright{
    text-align: center;
    color: #000;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}
img.avatar{
    max-width: 75%;
    max-height: 75%;
    border-radius: 400px;
    border:5px solid #fff;
}
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.containerr {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
/* For devices larger than 400px */
@media (min-width: 400px) {
  .containerr {
    width: 85%;
    padding: 0; }
}
/* For devices larger than 550px */
@media (min-width: 550px)
{
  .containerr {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; 
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .containerr {
    width: 80%; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}